body{
    margin: 0px;
    font-family: "Kotta One", serif; 
}
.header{
    display: flex;
    align-items: center;
    padding: 0px 30px;
    font-size: 30px;
    background-color: #8C3A2E;
    color: #FFFFFF;
    justify-content: space-between;
}
.outras-abas{
    display: flex;
    list-style: none;
    font-size: 20px;
    text-decoration: underline;
    gap: 50px;
}
.header h1{
    margin: 0px;
    font-weight: normal;
}
.container1{
    display: flex;
    flex-direction: column;
    background-color: #4A2E1A;
    color: #FFFFFF;
    width: 100%;
    height: 500px;
    align-items: center;
}

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 80%;   
    text-align: justify;
    margin-top: 60px

}
button{
    display: flex;
    background-color: #8C3A2E;
}
.container2{
    display: flex;
    background-color: #C69B6D;
    color: #FFFFFF;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
}
.box2{
    display: flex;
    background-color: #4A2E1A;
    width: 350px;
    height: 85px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.box3{
    display: flex;
    background-color: #F2D6A2;
    border: black;
    border-style: solid;
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: end;
}
.container3{
    display: flex;
    background-color: #B24A3A;
    color: #FFFFFF;
    width: 100%;
    height: 400px;
    align-items: normal;
    padding: 30px;
    flex-direction: column;
}
.bannerAutor{
    display: flex;
    background-color: #8C3A2E;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    justify-content: space-around;
}
.box4{
    display: flex;
    background-color: #8C3A2E;
    width: 350px;
    height: 200px;
    border: black;
    border-style:solid;
}
.box5{
    display: flex;
}
.box6{
    display: flex;
    background-color: #8C3A2E;
    width: 500px;
    height: 200px;
    border-radius: 15px;
    justify-content: center;
}
.container4{
    display: flex;
    justify-content: baseline;
}
.bannerPersonagem{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #F2D6A2;
}